<div class="table">
  <div class="table-header">
    <div class="row">
      <div class="preview">
        <div class="block arrow"></div>
        <div class="block name">{{'contacts.table.name' | translate }}</div>
        <div class="block address">{{'contacts.table.address' | translate }}</div>
        <div class="block roles">{{'contacts.table.roles' | translate }}</div>
      </div>
    </div>
  </div>

  <div class="table-body">
    <div *ngFor="
        let contact of contacts$ | async;
        let row = index;
      " [ngClass]="{ row: true, active: activeRow === row }">
      <div class="preview" (click)="onClick(row)">
        <fa-icon class="block arrow" [icon]="['fas', 'chevron-down']" [rotate]="activeRow === row ? 0 : 270">
        </fa-icon>
        <div class="block name">{{ contact.name | titlecase }}</div>
        <div class="block address">
          <p class="city">{{ contact.address.cityName | titlecase }}</p>
          <p class="street">{{ contact.address.street | titlecase }}</p>
        </div>
        <div class="block roles">
          <div *ngFor="let role of contact.roles | keyvalue">{{
            role.key | titlecase
          }}</div>
        </div>
      </div>
      <div class="more" *ngIf="activeRow === row">
        <div>
          <p>{{'contacts.table.info' | translate }}:</p>
          <div>
            <p class="phone" *ngIf="contact.phones.length">
              <fa-icon [icon]="['fas', 'phone']"></fa-icon>
              <span *ngFor="let phone of contact.phones">{{ phone.prefix }}{{ phone.phone }}</span>
            </p>
            <p *ngIf="contact.email">
              <fa-icon [icon]="['far', 'envelope']"></fa-icon>
              <span>{{ contact.email }}</span>
            </p>
          </div>
        </div>
        <div class="address">
          <p>{{'contacts.table.address' | translate }}:</p>
          <div>
            <p class="city">{{ contact.address.cityName | titlecase }}</p>
            <p class="street">{{ contact.address.street | titlecase }}</p>
          </div>
        </div>
        <div>
          <p>{{'contacts.table.id' | translate }}:</p>
          <div>
            <p class="id"><span>{{ contact.uniqueCode }}</span></p>
          </div>
        </div>
        <div>
          <p>{{'contacts.table.added' | translate }}:</p>
          <div>
            <p>{{ contact.insertBy.name }} | {{ contact.timestamp.date | date:'dd/MM/yyyy HH:mm '}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="preview">
        <div class="block length">
          {{'contacts.table.entires' | translate}} {{(contacts$ | async)?.length }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="icon-wrapper" *ngIf="loading">
  <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
</div>
