<div class="table">
  <div class="table-header">
    <div class="row">
      <div class="block arrow"></div>
      <div class="block name">Name</div>
      <div class="block address">Address</div>
      <div class="block roles">Roles</div>
    </div>
  </div>

  <div class="table-body">
    <div *ngFor="
        let contact of contacts$ | async;
        let row = index;
      " (click)="onClick(row)" [ngClass]="{ row: true, active: activeRow === row }">
      <div class="preview">
        <fa-icon class="block arrow" [icon]="['fas', 'chevron-down']" [rotate]="activeRow === row ? 0 : 270">
        </fa-icon>
        <div class="block name">{{ contact.name | titlecase }}</div>
        <div class="block address">
          <p class="city">{{ contact.address.cityName | titlecase }}</p>
          <p class="street">{{ contact.address.street | titlecase }}</p>
        </div>
        <div class="block roles">
          <span *ngFor="let role of contact.roles | keyvalue">{{
            role.key | titlecase
          }}</span>
        </div>
      </div>
      <div class="more" *ngIf="activeRow === row">
        <p>
          Phones:
          <fa-icon [icon]="['fas', 'phone']"></fa-icon>
          <span *ngFor="let phone of contact.phones">{{ phone.prefix }}{{ phone.phone }}</span>
        </p>
        <p>
          Email:
          <fa-icon [icon]="['far', 'envelope']"></fa-icon>
          <span>{{ contact.email }}</span>
        </p>
        <p>
          Uniq Code: <span>{{ contact.uniqueCode }}</span>
        </p>
        <p>
          Added by: <span>{{ contact.insertBy.name }}</span>
        </p>
      </div>
    </div>
    <div class="row loading">
      <p class="block">{{ noData ? 'No More Data' : 'Loading...' }}</p>
    </div>
  </div>
</div>
