@import '~assets/scss/variables/index.scss';

.contacts {
  height: 100%;
  overflow: auto;

  .icon-wrapper {
    position: absolute;

    bottom: 25px;
    right: 25px;

    height: 57px;
    width: 57px;

    background-color: rgba(110, 122, 127, 0.8);

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    &:hover {
      background-color: #37474F;
    }

    fa-icon {
      color: white;
    }
  }

  app-contacts-filter {
    display: block;
    margin-bottom: 15px;
  }
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: $xs_max) {
  .contacts {
    padding: 10px 8px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: $sm_min) and (max-width: $sm_max) {
  .contacts {
    padding: 10px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: $md_min) and (max-width: $md_max) {
  .contacts {
    padding: 10px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: $lg_min) and (max-width: $lg_max) {
  .contacts {
    padding: 10px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $xl_min) {
  .contacts {
    padding: 15px;
  }
}
