.admin-wrapper {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: #f3f3f4;

  app-header {
    z-index: 2;
  }

  .content-wrapper {
    flex: 1;
    display: flex;

    overflow: hidden;

    position: relative;

    .routes-wrapper {
      flex: 1;
      overflow: hidden;
    }
  }
}
