@import '~assets/scss/variables/index.scss';

.form-group {
  label {
    color: $dark_grey;
    margin-bottom: 5px;
  }

  >div {
    display: flex;
    flex-wrap: wrap;


    input {
      &:first-child {
        width: 125px;
        border-radius: 5px 0px 0px 5px;
      }

      &.phone {
        z-index: 1;
        flex: 1;
        border-radius: 0px 5px 5px 0px;
        border-left: none;
      }
    }
  }

  .radio-buttons {
    width: 100%;
    display: flex;
    margin-top: 5px;

    label {
      display: flex;
      align-items: center;
      margin-right: 10px;

      input[type='checkbox'] {
        display: none;

        &:checked+span fa-icon {
          display: block;
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #dddddd;
        background-color: white;

        cursor: pointer;

        fa-icon {
          display: none;
          font-size: 7px;
          color: $dark_grey;
        }
      }

      >fa-icon {
        margin-left: 5px;

        &.telegram {
          color: #2995d0;
        }

        &.whatsapp {
          color: #22cd5b;
        }

        &.viber {
          color: #5b52a2;
        }
      }
    }
  }
}
