@import '~assets/scss/variables/index.scss';

ngx-smart-modal {
  .modal-title {
    font-weight: bold;
    font-size: 20px;
    color: $dark_grey;
  }

  .modal-body {
    background-color: #f7f7f7;
  }
}
