<ngx-smart-modal [closable]="false" #createContact identifier="createContact">
  <div class="modal-wrapper">
    <header>
      <h2>
        {{ 'contacts.create.title' | translate }}
      </h2>
      <fa-icon class="close" [icon]="['fas', 'times']" (click)="createContact.close()"></fa-icon>
    </header>

    <form [formGroup]="createContactForm" (ngSubmit)="onSubmit()">
      <div class="wrapper">
        <div class="input-wrapper">
          <input type="text" [placeholder]="'contacts.create.firstNamePlaceholder' | translate"
            formControlName="firstName" />
          <label for="">{{ 'contacts.create.name' | translate }}</label>
        </div>
        <div class="input-wrapper">
          <input type="text" [placeholder]="'contacts.create.lastNamePlaceholder' | translate"
            formControlName="lastName" />
        </div>
        <div class="input-wrapper">
          <input type="text" [placeholder]="'contacts.create.fullNamePlaceholder' | translate"
            formControlName="fullName" />
        </div>
        <div class="input-wrapper">
          <div class="phone-input-wrapper">
            <select formControlName="phoneCode">
              <option *ngFor="let code of codes" [value]="code">{{
                code
              }}</option>
            </select>
            <input type="text" formControlName="phone" />
          </div>
          <label for="">{{ 'contacts.create.phone' | translate }}</label>
        </div>

        <div class="radio-buttons">
          <div class="radio" *ngFor="let messanger of messangers">
            <label>
              <input type="radio" [value]="messanger" name="messanger" />
              <span>
                <fa-icon [icon]="['fas', 'check']"></fa-icon>
              </span>
            </label>
            <fa-icon [class]="messanger.icon" [icon]="['fab', messanger.icon]"></fa-icon>
          </div>
        </div>

        <div class="input-wrapper">
          <input type="text" formControlName="email" />
          <label for="">{{ 'contacts.create.email' | translate }}</label>
        </div>
      </div>

      <div class="buttons">
        <button type="button" (click)="createContact.close()">{{ 'contacts.create.cancel' | translate }}</button>
        <button>{{ 'contacts.create.submit' | translate }}</button>
      </div>
    </form>
  </div>
</ngx-smart-modal>
