<ngx-smart-modal [closable]="false" #createContact identifier="createContact">

  <form [formGroup]="createContactForm">
    <div class="modal-header">
      <h5 class="modal-title">{{ getTranslateKey('title') | translate }}</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-input formControlName="firstName" for="firstName" [labelTranslate]="getTranslateKey('name')"
        [placeholderTranslate]="getTranslateKey('firstNamePlaceholder')" [isValid]="isControlValid('firstName')"
        [isTouched]="isControlTouched('firstName')">
      </app-input>

      <app-input formControlName="lastName" for="lastName"
        [placeholderTranslate]="getTranslateKey('lastNamePlaceholder')" [isValid]="isControlValid('lastName')"
        [isTouched]="isControlTouched('lastName')">
      </app-input>

      <app-input formControlName="hebName" for="hebName" [placeholderTranslate]="getTranslateKey('fullNamePlaceholder')"
        [isValid]="isControlValid('hebName')" [isTouched]="isControlTouched('hebName')">
      </app-input>

      <ng-container *ngFor="let phoneControl of createContactForm.get('phones')['controls']; let i = index"
        formArrayName="phones">
        <app-input-phone [labelTranslate]="getTranslateKey('phone')" [phoneCodes]="phoneCodes"
          [socialMedias]="socialMedias" [formControlName]="i" [isTouched]="phoneControl.touched">
        </app-input-phone>
      </ng-container>

      <app-input formControlName="email" for="email" [labelTranslate]="getTranslateKey('email')"
        [isValid]="isControlValid('email')" [isTouched]="isControlTouched('email')">
      </app-input>
    </div>
    <div class="modal-footer">
      <app-button classes="btn-outline-dark" [translateKey]="getTranslateKey('cancel')" (click)="closeModal()">
      </app-button>
      <app-button classes="btn-primary" [disabled]="createContactForm.invalid"
        [translateKey]="getTranslateKey('submit')" (click)="onSubmit()" [isLoading]="isCreateLoading"></app-button>
    </div>
  </form>

</ngx-smart-modal>
