@import '~assets/scss/variables/index.scss';

form {
  width: 100%;

  background-color: #F3F3F4;
  padding: 10px 8px;
  display: flex;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.16);

  border-radius: 5px;

  .input-group {
    position: relative;

    .icon-wrapper {
      position: absolute;
      top: 0;
      right: 37.5px;

      height: 100%;

      display: flex;
      align-items: center;

      z-index: 3;

      fa-icon {
        color: $light_grey;
        background-color: white;
        cursor: pointer;
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: $xs_max) {}

// Small devices (landscape phones, 576px and up)
@media (min-width: $sm_min) and (max-width: $sm_max) {}

// Medium devices (tablets, 768px and up)
@media (min-width: $md_min) and (max-width: $md_max) {}

// Large devices (desktops, 992px and up)
@media (min-width: $lg_min) and (max-width: $lg_max) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: $xl_min) {}
